/*          fonts           */ 
$Thasadith: 'Thasadith', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Inconsolata: 'Inconsolata', monospace;

/*          colors          */

$footerColor: rgba(#000000, 0.8);
$wrapColor: #f5f5f5;
$fontColor: #505050;
$primaryColor: #e42121;
$secondaryColor: #1b78c4;

/*          number          */

$containerWidth: 960px;
